<?xml version="1.0" encoding="utf-8" ?>
<routes>
	
	<!-- connexion -->
	<route url="/~alexei/FlyWithMeOC2/Web/admin/" module="Articles" action="index" />
	
	
	
	<!-- déconnexion -->
	<route url="/~alexei/FlyWithMeOC2/Web/admin/DisconnectAdmin/" module="Connexion" action="DisconnectAdmin" />



	
	<!-- gestion des articles -->
	<route url="/~alexei/FlyWithMeOC2/Web/admin/articles-update-([0-9]+)\.html" module="Articles" action="update" vars="id" />
	<route url="/~alexei/FlyWithMeOC2/Web/admin/articles-delete-([0-9]+)\.html" module="Articles" action="delete" vars="id" />
	<route url="/~alexei/FlyWithMeOC2/Web/admin/articles-insert\.html" module="Articles" action="insert" />
	<route url="/~alexei/FlyWithMeOC2/Web/admin/articles-list-comment-([0-9]+)\.html" module="Articles" action="listComment" vars="id" />
	<route url="/~alexei/FlyWithMeOC2/Web/admin/articles-list-validated-comment-([0-9]+)\.html" module="Articles" action="listValidatedComment" vars="id" />
	<route url="/~alexei/FlyWithMeOC2/Web/admin/articles-list-unvalidated-comment-([0-9]+)\.html" module="Articles" action="listUnvalidatedComment" vars="id" />
		

	<!-- gestion des commentaires -->
	<route url="/~alexei/FlyWithMeOC2/Web/admin/comment-delete-([0-9]+)-([0-9]+)\.html" module="Articles" action="deleteComment" vars="id,id_article" />
	<route url="/~alexei/FlyWithMeOC2/Web/admin/unvalidatedcomment-delete-([0-9]+)-([0-9]+)\.html" module="Articles" action="DeleteUnvalidatedComment" vars="id,id_article" />
	<route url="/~alexei/FlyWithMeOC2/Web/admin/comment-validate-([0-9]+)-([0-9]+)\.html" module="Articles" action="validateComment" vars="id,id_article" />
	<route url="/~alexei/FlyWithMeOC2/Web/admin/unvalidatedGroupcomment-delete-([[0-9,]*]*)-([0-9]+)\.html" module="Articles" action="DeleteUnvalidatedGroupComment" vars="CommentsIdsToBeDeleted,id_article" />
	<route url="/~alexei/FlyWithMeOC2/Web/admin/unvalidatedGroupcomment-validate-([[0-9,]*]*)-([0-9]+)\.html" module="Articles" action="ValidateUnvalidatedGroupComment" vars="CommentsIdsToBeValidated,id_article" />


	<!-- gestion des pilotes -->
	<route url="/~alexei/FlyWithMeOC2/Web/admin/pilotes/" module="Pilot" action="index" />
	<route url="/~alexei/FlyWithMeOC2/Web/admin/pilot-delete-([0-9]+)\.html" module="Pilot" action="deletePilot" vars="id"/>
	<route url="/~alexei/FlyWithMeOC2/Web/admin/pilot-listComment-([a-zA-Z]+)\.html" module="Pilot" action="ListCommentPilot" vars="pilotname"/>





</routes>





































