<ul id="navigation">
        {% for title_article in listeAllTitle %}
            <li>{{ title_article.caption }}</li>
        {% endfor %}
</ul>




<?php
foreach ($listeAllTitle as $title_article)
{
?>
<h3 ><a rel="tooltip" title="texte pour récupérer l'info du serveur" href="articles-<?= $title_article['id'] ?>.html"><?=  $title_article->titre() ?></a></h3><br>
			
<?php
}


