<!-- Titre central ================================================== -->
		<div>
		<div class="espace"></div>
		<section class="encart titre_central">
		
			
			<div class="titre">
			<div class="inner cover">
			<h1 class="cover-heading">FlyWithMe : le blog de la passion du pilotage</h1>
				<p class="lead">
					Partagez ma passion du vol et du pilotage
					Découvrez les toutes dernières technologies permettant d'améliorer l'experience du vol, avec les conseils des meilleurs experts.
				</p>
			</div>
			</div>
        </section>
        
        
        
        <div class="espace"></div>
        <div class="espace"></div>
        </div>
        



